<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Role Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a [routerLink]="['/roles/all-roles']" onClick="return false;">Roles</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name" *ngIf='role'>{{ role.roleName }} </div>
              </div>
              <div>
                <img src="../../../assets/images/theatre-category.jpg" class="user-img" alt="role image">
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>564</h5>
                  <small>Following</small>
                </div>
                <div class="col-4">
                  <h5>18k</h5>
                  <small>Followers</small>
                </div>
                <div class="col-4">
                  <h5>565</h5>
                  <small>Post</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <ul class="nav nav-tabs">
            <li class="nav-item m-l-10">
              <a class="nav-link active" data-toggle="tab" href="#about">About</a>
            </li>
            <li class="nav-item m-l-10">
              <a class="nav-link" data-toggle="tab" href="#skills">Skills</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane body active" id="about">
              <small class="text-muted">Email address: </small>
              <p>email</p>
              <hr>
              <small class="text-muted">Role: </small>
              <p> Role</p>
              <hr>
            </div>
            <div class="tab-pane body" id="skills">
              <ul class="list-unstyled">
                <li>
                  <div>Java</div>
                  <div class="progress skill-progress m-b-20">
                    <div class="progress-bar l-bg-green width-per-45" role="progressbar" aria-valuenow="45"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div>PHP</div>
                  <div class="progress skill-progress m-b-20">
                    <div class="progress-bar l-bg-orange width-per-38" role="progressbar" aria-valuenow="38"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div>Database</div>
                  <div class="progress skill-progress m-b-20">
                    <div class="progress-bar l-bg-cyan width-per-39" role="progressbar" aria-valuenow="39"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div>Spring</div>
                  <div class="progress skill-progress m-b-20">
                    <div class="progress-bar l-bg-purple width-per-70" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="profile-tab-box">
            <div class="p-l-20">
              <ul class="nav ">
                <li class="nav-item tab-all">
                  <a class="nav-link active show" href="#project" data-toggle="tab">About</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#usersettings" data-toggle="tab">Settings</a>
                </li>
                <li class="nav-item tab-all p-l-20" *ngIf='role'>
                  <a class="nav-link" [routerLink]="['../../edit-role', role.id]"
                     data-toggle="tab"><mat-icon aria-label="Edit" class="col-black">edit</mat-icon></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="project" aria-expanded="true">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card project_widget">
                  <div class="body">
                    <h2>About</h2>
                    <p class="m-t-30">About role</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card project_widget">
                  <div class="header">
                    <h2>Education</h2>
                  </div>
                  <div class="body">
                    <ul>
                      <li>M.S.N.,Gujarat University, Ahmedabad,India.</li>
                      <li>B.S.N.,Gujarat University, Ahmedabad, India.</li>
                      <li>A.S.D.,Shaurashtra University, Rajkot, India</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="timeline" aria-expanded="false">
          </div>
          <div role="tabpanel" class="tab-pane" id="usersettings" aria-expanded="false">
            <div class="card">
              <div class="header">
                <h2>
                  <strong>Security</strong> Settings</h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                </div>
                <button mat-raised-button color="primary">Save</button>
              </div>
            </div>
            <div class="card">
              <div class="header">
                <h2>
                  <strong>Account</strong> Settings</h2>
              </div>
              <div class="body">
                <div class="row clearfix">
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Country</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width mb-3" appearance="fill">
                        <mat-label>Address</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button mat-raised-button color="primary">Save Changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
