<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Add show</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a [routerLink]="['/shows/all-shows']">Shows</a>
            </li>
            <li class="breadcrumb-item active">Add</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Show Information</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="showForm" (ngSubmit)="onSubmit();">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="Title" required>
                    <mat-error *ngIf="showForm.get('Title').hasError('required')">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="CategoryId" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let category of categoryListing" [value]="category.id">
                        {{ category.categoryName }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="showForm.get('CategoryId').hasError('required')">
                      Please choose a category
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="ShowDescription"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Theatre</mat-label>
                    <mat-select formControlName="TheatreId" required [(value)]='selectedTheatre' (ngModelChange)="onChangeObj($event)" >
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let theatre of theatreListing" [value]="theatre.id">
                        {{ theatre.theatreName }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="showForm.get('TheatreId').hasError('required')">
                      Please choose a theatre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf='selectedTheatre'>
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Scene</mat-label>
                    <mat-select formControlName="SceneId" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let scene of scenesInTheatre" [value]="scene.id">
                        {{ scene.sceneName }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="showForm.get('TheatreId').hasError('required')">
                      Please choose a scene
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="mr-3" [disabled]="!showForm.valid " mat-raised-button color="primary">Submit</button>
                  <button type="button" mat-button (click)="resetForm();">Reset</button>
                  <button type="button" mat-button (click)="cancel();">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
