<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Add user</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" [routerLink]="['/users/all-users']">Users</a>
            </li>
            <li class="breadcrumb-item active">Add</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> User Information</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="userForm" (ngSubmit)="onSubmit();">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="firstName.hasError('required')">
                      First name is required
                    </mat-error>
                    <mat-error *ngIf="firstName.hasError('pattern')">
                      Wrong format
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="lastName.hasError('required')">
                      Last name is required
                    </mat-error>
                    <mat-error *ngIf="lastName.hasError('pattern')">
                      Wrong format
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="email.hasError('required')">
                      Email is required
                    </mat-error>
                    <mat-error *ngIf="email.hasError('email')">
                      Wrong format
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="password.hasError('required')">
                      Password is required
                    </mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">
                      Password must have at least 6 characters
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="roleId" required (ngModelChange)="roleChanged($event)">
                      <mat-option *ngFor="let role of roleListing" [value]="role.id">
                        {{ role.roleName }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="roleId.hasError('required')">
                      Role is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="selectedRole==2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Theatre</mat-label>
                    <mat-select formControlName="theatreId" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let theatre of theatreListing" [value]="theatre.id">
                        {{ theatre.theatreName }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="theatreId.hasError('required')">
                      Theatre is required for "Theatre" role
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="selectedRole==2">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                      <mat-option value="Approved">Approved</mat-option>
                      <mat-option value="Declined">Declined</mat-option>
                      <mat-option value="Pending">Pending</mat-option>
                    </mat-select>
                    <mat-error *ngIf="status.hasError('required')">
                      Status is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="mr-3" [disabled]="!userForm.valid " mat-raised-button color="primary">Submit</button>
                  <button type="button" mat-button (click)="resetForm();">Reset</button>
                  <button type="button" mat-button (click)="cancel();">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>