<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Theatre Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a [routerLink]="['/theatres/all-theatres']" onClick="return false;">Theatres</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name" *ngIf='theatre'>{{ theatre.name}}</div>
              </div>
              <div>
                <img *ngIf='theatre' [src]="this.imgPath" class="user-img" alt="{{ theatre.showImageDtos[0].alt }}">
              </div>
              <p *ngIf='theatre'>
                {{ theatre.location}}
              </p>
              <div>
                <span class="phone" *ngIf='theatre'>
                  <i class="material-icons" >phone</i>{{ theatre.telephone }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <ul class="nav nav-tabs">
            <li class="nav-item m-l-10">
              <a class="nav-link active" data-toggle="tab" href="#about">About</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane body active" id="about">
              <small class="text-muted">Email address: </small>
              <p *ngIf='theatre'>{{ theatre.email }}</p>
              <hr>
              <small class="text-muted">Phone: </small>
              <p *ngIf='theatre'>{{ theatre.telephone }}</p>
              <hr>
              <small class="text-muted">Working Hours: </small>
              <p *ngIf='theatre'>{{ theatre.workingHours }}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="profile-tab-box">
            <div class="p-l-20">
              <ul class="nav ">
                <li class="nav-item tab-all">
                  <a class="nav-link active show" href="#project" data-toggle="tab">About</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#scenes" data-toggle="tab">Scenes</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#shows" data-toggle="tab">Shows</a>
                </li>
                <li class="nav-item tab-all p-l-20" *ngIf='theatre'>
                  <a class="nav-link" [routerLink]="['../../edit-theatre', theatre.id]"
                     data-toggle="tab"><mat-icon aria-label="Edit" class="col-black">edit</mat-icon></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="project" aria-expanded="true">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card project_widget">
                  <div class="body">
                    <h2>About</h2>
                    <p class="m-t-30"  *ngIf='theatre'>{{ theatre.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="scenes" aria-expanded="false">
            <div class="row clearfix" *ngFor='let scene of getSceneWithSectorsDtos'>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card project_widget">
                  <div class="body">
                    <small class="text-muted">Scene: </small>
                    <p>
                      <a [routerLink]="['../../../scenes/about-scene', scene.id]" >{{ scene.sceneName }}</a>
                    </p>
                    <small class="text-muted" >Sectors: </small>
                    <p *ngFor="let sector of scene.addSectorDtos">
                      {{ sector.sectorName }} - {{ sector.seatCapacity }} seats
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="shows" aria-expanded="false">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card project_widget">
                  <div class="body">
                    <h2>Shows: </h2>
                    <p class="m-t-30" *ngFor='let show of showBaseInfoDtos'>
                      <a [routerLink]="['../../../shows/about-show', show.id]" >{{ show.title }}</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
