<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">User Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a [routerLink]="['/users/all-users']" onClick="return false;">Users</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name" *ngIf='user'>{{ user.firstName }} {{ user.lastName }}</div>
              </div>
              <div>
                <img src="../../../assets/images/users.jpg" class="user-img" alt="user image">
              </div>
              <p *ngIf='user'>
                {{ user.roleName}}
              </p>
              <div class="row">
                <div class="col-12" *ngIf='user'>
                  <h5> {{ user.showFollowing }}</h5>
                  <small>Following</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <ul class="nav nav-tabs">
            <li class="nav-item m-l-10">
              <a class="nav-link active" data-toggle="tab" href="#about">About</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane body active" id="about">
              <small class="text-muted">Email address: </small>
              <p *ngIf='user'>{{ user.email }}</p>
              <hr>
              <small class="text-muted">Role: </small>
              <p *ngIf='user'>{{ user.roleName }}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="profile-tab-box">
            <div class="p-l-20">
              <ul class="nav ">
                <li class="nav-item tab-all">
                  <a class="nav-link active show" href="#feed" data-toggle="tab">Feed</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#purchases" data-toggle="tab">Purchases</a>
                </li>
                <li class="nav-item tab-all p-l-20" *ngIf='user'>
                  <a class="nav-link" [routerLink]="['../../edit-user', user.id]"
                     data-toggle="tab"><mat-icon aria-label="Edit" class="col-black">edit</mat-icon></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="feed" aria-expanded="true">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card project_widget">
                  <div class="body">
                    <h2>Upcoming shows</h2>
                    <p class="m-t-30">About user</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="timeline" aria-expanded="false">
          </div>
          <div role="tabpanel" class="tab-pane" id="purchases" aria-expanded="false"
          *ngIf="getDetailedPurchaseDtos?.length;else noPurchase">
            <div class="card project_widget" *ngFor="let purchase of getDetailedPurchaseDtos">
              <div class="header">
                <a [routerLink]="['../../../purchases/about-purchase', purchase.id ]">
                  <h2>Purchase</h2>
                </a>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-md-3 col-6 b-r">
                    <strong>Title</strong>
                    <br>
                    <p class="text-muted">
                      <a [routerLink]="['../../../shows/about-show', purchase.showId ]" >
                      {{ purchase.showName }}
                    </a>
                  </p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Date and time</strong>
                    <br>
                    <p class="text-muted">
                      {{ purchase.date | date: 'd MMM yyyy' }} <br/>
                       {{ purchase.date | date: 'HH:mm' }}
                    </p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Price</strong>
                    <br>
                    <p class="text-muted">
                      {{ purchase.getPriceBasicDtos[0].price }} {{ purchase.getPriceBasicDtos[0].currencyName }}
                    </p>
                  </div>
                  <div class="col-md-3 col-6">
                    <strong>Purchased at</strong>
                    <br>
                    <p class="text-muted">
                      {{ purchase.purchasedAt | date: 'd MMM yyyy' }} <br/>
                      {{ purchase.purchasedAt | date: 'HH:mm' }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-6 b-r">
                    <strong>Sector</strong>
                    <br>
                    <p class="text-muted">
                      {{ purchase.sectorName }}
                    </p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Row</strong>
                    <br>
                    <p class="text-muted">
                      {{ purchase.rowNumber }}
                    </p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Seat</strong>
                    <br>
                    <p class="text-muted">
                      {{ purchase.seatNumber }}
                    </p>
                  </div>
                  <div class="col-md-3 col-6">
                    <strong>Entrance</strong>
                    <br>
                    <p class="text-muted">
                      {{ purchase.entrance }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Theatre</strong>
                    <br>
                    <p class="text-muted">
                      <a [routerLink]="['../../../theatres/about-theatre', purchase.theatreId]" >
                        {{ purchase.theatreName }}
                      </a>
                    </p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Scene</strong>
                    <br>
                    <a [routerLink]="['../../../scenes/about-scene', purchase.sceneId]" >
                      {{ purchase.sceneName }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noPurchase>
            <div role="tabpanel" class="tab-pane" id="purchases" aria-expanded="false">
              <div class='card'>
                <div class="body">
                  <h2>Purchases</h2>
                  <p class="m-t-30"> No purchase has been made yet. </p>
                </div>
            </div>
            </div>
          </ng-template>

          <div role="tabpanel" class="tab-pane" id="timeline" aria-expanded="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
