<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Edit Theatre</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" [routerLink]="['../../all-theatres']" onClick="return false;">Theatres</a>
            </li>
            <li class="breadcrumb-item active">Edit</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Edit Theatre</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="theatreForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="theatreForm.get('name').hasError('required')">
                      Theatre name is required
                    </mat-error>
                    <mat-error *ngIf="theatreForm.get('name').hasError('pattern')">
                      Wrong theatre name format
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="theatreForm.get('email').hasError('required')">
                      Email is required
                    </mat-error>
                    <mat-error *ngIf="theatreForm.get('email').hasError('email')">
                      Wrong email format
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="telephone">
                    <mat-error *ngIf="theatreForm.get('telephone').hasError('required')">
                      Phone number is required
                    </mat-error>
                    <mat-error *ngIf="theatreForm.get('telephone').hasError('pattern')">
                      Wrong phone number format
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Working Hours</mat-label>
                    <input matInput formControlName="workingHours">
                    <mat-error *ngIf="theatreForm.get('workingHours').hasError('required')">
                      Working hours are required
                    </mat-error>
                    <mat-error *ngIf="theatreForm.get('workingHours').hasError('pattern')">
                      Wrong working hours format
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location" required>
                    <mat-error *ngIf="theatreForm.get('location').hasError('required')">
                      Location is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <ngx-mat-file-input formControlName="theatreImage" placeholder="Select Theatre Image" multiple></ngx-mat-file-input>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="mr-3" [disabled]="!theatreForm.valid" mat-raised-button color="primary">Submit</button>
                  <button type="button" (click)="cancel()" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
