<section class="content">
  <div class="container-fluid">
    <div class="block-header mt-n3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="font-weight-bold">Hi {{ userFirstName }}, welcome back!</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-statistic-2">
          <div class="row">
            <div class="col">
              <div class="card-icon shadow-primary bg-purple">
                <i class="fas fa-paste"></i>
              </div>
            </div>
            <div class="col-auto m-4">
              <div>
                <h5 class="pull-right">Total Reservations</h5>
              </div>
              <div class="card-body pull-right">
                1,245
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-statistic-2">
          <div class="row">
            <div class="col">
              <div class="card-icon shadow-primary bg-orange">
                <i class="fas fa-theater-masks"></i>
              </div>
            </div>
            <div class="col-auto m-4">
              <div>
                <h5 class="pull-right">Approved Theatres</h5>
              </div>
              <div class="card-body pull-right">
                287
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
  </div>
</section>